<mat-card>

  <mat-select (selectionChange)="onProviderSelected($event.source.value)" [(value)]="filters.MarketProvider">
    <mat-option *ngFor="let provider of marketProviders" [value]="provider.id">
      {{provider.name}}
    </mat-option>
  </mat-select>

  <mat-select (selectionChange)="onTradingPairSelected($event.source.value)" *ngIf="filters && filters.MarketProvider" [(value)]="filters.TradePair">
    <mat-option *ngFor="let provider of marketProviders" [value]="provider.id">
      {{provider.name}}
    </mat-option>
  </mat-select>

  <app-grid *ngIf="tradeEntries" columns="tradeEntryGridColumns" data="tradeEntries">

  </app-grid>

</mat-card>
