<mat-card>
  <mat-grid-list cols="4" rowHeight="2:1">

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-form-field>
        <mat-label>Market Provider</mat-label>
        <mat-select (selectionChange)="onProviderSelected($event.source.value)" [(value)]="filters.MarketProvider">
          <mat-option *ngFor="let provider of marketProviders" [value]="provider.id">
            {{provider.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-form-field>
        <mat-label>Trading Pair</mat-label>
        <mat-select (selectionChange)="onTradingPairSelected($event.source.value)" [(value)]="filters.TradePair">
          <mat-option *ngFor="let pair of tradePairs" [value]="pair.id">
            {{pair.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="2">
      <app-grid *ngIf="tradeEntriesFeed" [columns]="tradeEntryGridColumns" [data]="tradeEntriesFeed"></app-grid>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card>
